.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../assets/5.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}
.htext{
    text-align: center;
    max-width: 800px;
}
.htext h1{
    font-size: 60px;
    font-style: 600;

}
.htext p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    
}

.buttn{
    background: #fff;
    color: black;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0 ;
    position: absolute;
    top: 73%;
    left: 45%;
    transform:  translate(0%, 6%);
    z-index: -1;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;

}

.buttn:hover{
  background-color: #212ea0;
  box-shadow: 0px 15px 20px rgba(25, 49, 169, 0.4);
  color: white;
  transform: translateY(-7px);
    
}

@media (max-width:840px){
    .htext h1{
        font-size: 40px;

    }
    .buttn{
        padding: 14px 22px;
        top: 65%;
        left: 36%;
    }
}
@media (max-width:650px){
    .htext h1{
        font-size: 30px;
        max-width: 40opx;
        margin: auto;

    }
    .htext p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
    .buttn{
        padding: 14px 22px;
        top: 65%;
        left: 36%;
    }


}